.row
  .col-md-2
    - if current_user
      = link_to "Post New Job", new_job_path, class: "btn btn-primary pull-left"
  .col-md-6
    = form_tag(jobs_path(@jobs), method: :get, id: :search_form, class: 'form-search') do
      .input-group
        = search_field_tag "search", params[:search], class: "form-control inline"
        %span.input-group-btn= submit_tag 'Search', class: "btn btn-default inline pull-right"
  .col-md-4
    .btn-group.pull-right
      =link_to jobs_path do
        -if params[:status] == nil
          - allstyle = "thick"
        %button.btn.btn-default{:type => "button"}
          %span{:class => allstyle || ""} All
      =link_to jobs_path(:status => "read") do
        -if params[:status] == "read"
          - readstyle = "thick"
          - @heading = "Read Jobs"
        %button.btn.btn-default{:type => "button"}
          %span{:class => readstyle || ""} Read
      =link_to jobs_path(:status => "unread") do
        -if params[:status] == "unread"
          - unreadstyle = "thick"
          - @heading = "Unread Jobs"
        %button.btn.btn-default{:type => "button"}
          %span{:class => unreadstyle || "" } Unread
      =link_to jobs_path(:status => "favorited") do
        -if params[:status] == "favorited"
          - favstyle = "thick"
          - @heading = "Favorited Jobs"
        %button.btn.btn-default{:type => "button"}
          %span{:class => favstyle || ""} Favorites
- @heading ||= "All Jobs"
= render :partial => 'shared/jobslist', :locals => {jobs: @jobs, heading: @heading}
