-#TODO add pagination to this


.row
  .col-md-12
    %h3= heading
.row
  .apple_pagination
    = will_paginate jobs
  %table.table.table-striped
    %thead
      %tr
        %th.col-md-1
        %th.col-md-5 Title
        %th.col-md-2 Company
        %th.col-md-2 Posted By
        %th.col-md-2 Active Until
    %tbody
      - jobs.each do |job|
        %tr
          %td.col-md-1
            - if current_user
              - if current_user.has_favorited?(job)
                = link_to job_favorites_path(job), class: "btn btn-danger", method: :delete do
                  %i.fa.fa-star-o
              - else
                = link_to job_favorites_path(job), class: "btn btn-success", method: :post do
                  %i.fa.fa-star
          %td.col-md-5= link_to job.title, job
          %td.col-md-2= link_to job.company.name, job.company
          %td.col-md-2= link_to job.author.email, profile_path(job.author.id)
          %td.col-md-2= job.end_date
  .apple_pagination
    = will_paginate jobs
