-#TODO add pagination to this


.row
  .col-md-12
    %h3= heading
.row
  .apple_pagination
    = will_paginate jobs
  %table.table.table-striped
    %thead
      %tr
        %th.col-md-6 Title
        %th.col-md-2 Company
        %th.col-md-2 Posted By
        %th.col-md-2 Active Until
    %tbody
      - jobs.each do |job|
        %tr
          %td.col-md-6= link_to job.title, job
          %td.col-md-2= link_to job.company.name, job.company
          %td.col-md-2= link_to job.author.email, profile_path(job.author.id)
          %td.col-md-2= job.end_date
  .apple_pagination
    = will_paginate jobs
